$shade-1: #f6f7f8;
$shade-2: #edeef1;

.rectangle.small {
  height: 0.8rem;
  width: 60%;
}
.rectangle.big {
  height: 1.5rem;
  width: 80%;
}
.square.small {
  height: 1.5rem;
  width: 1.5rem;
}
.square.big {
  height: 3rem;
  width: 3rem;
}
.skeleton {
  position: relative;
  border-radius: 4px;
  background-color: $shade-1;
  overflow: hidden;
}
.shimmer {
  position: absolute;
  right: 0;
  top: -10px;
  width: 210%;
  height: 200%;
  background: linear-gradient(
    to right,
    $shade-1 50%,
    $shade-2 75%,
    $shade-1 100%
  );
  animation-name: shimmer_anim;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes shimmer_anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
